<!-- <h1>My first Angular App</h1>
<h2>{{title}}</h2>
<button (click)="changeTitle()">Click to change title</button> -->

<!-- <div class="user-details">
  <h4>Single User Detail: </h4>
  <p>Name: {{user.name}}</p>
  <p>Email: {{user.email}}</p>
  <p>Age: {{user.age}}</p>
  <p>Address: {{user.address}}</p>
  <p>Phone Numbers: {{user.phoneNo}}</p> 

  <h4>All Users: </h4>
</div> -->

<!-- @for(u of users ; track u.name){
<div class="user-details">
  <p>Name: {{u.name}}</p>
  <p>Email: {{u.email}}</p>
  <p>Age: {{u.age}}</p>
  <p>Address: {{u.address}}</p>
  <p>Phone Numbers: {{u.phoneNo}}</p>
  <p>Gender: {{u.gender}}</p>
  <p>Picture: <img [src]="u.pic" alt="{{u.name}}" width="100"></p>
  <input type="text" disabled="{{u.edit}}">
  <input type="text" [disabled]="u.edit"> -->

<!-- @if(u.gender === 'Male'){
  <p>You are eligible to go faraway.</p>
  }
  @else{
  <p>You are not eligible to go faraway.</p>
  } -->

<!-- @switch (u.gender) {
  @case ('Male')
  {<p>You are eligible to go faraway.</p>}
  @case ('Female')
  {<p>You are not eligible to go faraway.</p>}

  }
</div>
} -->
<br>
<!-- Select card view/List view:
<button (click)="card()">Card</button>
<button (click)="list()">List</button>

@if (viewType === 'card') {
<div class="card-container">
  @for (u of users; track u.name) {
  <app-user-details [name]="u.name" [age]="u.age" [address]="u.address" [gender]="u.gender">
  </app-user-details>
  }
</div>
}
@else {
<div class="list-container">
  @for (u of users; track u.name) {
  <div class="list-item">
    <table border="1px" margin="40px" [cellPadding]="10">
      <th style="background-color: aqua; "><b>Name:</b></th>
      <td>{{u.name}}</td><br>
      <th style="background-color: beige;"><b>Age:</b> </th>
      <td>{{u.age}}</td><br>
      <th style="background-color: aliceblue;"><b>Address:</b></th>
      <td> {{u.address}}</td><br>
      <th style="background-color: wheat;"><b>Gender:</b></th>
      <td>{{u.gender}}</td>
    </table>
  </div>
  }
</div>
} -->
<h1>My first angular app</h1>
<h2>{{ title }}</h2>
<h4></h4>
Enter the title:
<input type="text" [(ngModel)]="title" />

@for (u of users; track u.name) {
<app-user-details [id]="u.id" [name]="u.name" [age]="u.age" [address]="u.address" [gender]="u.gender" [pic]="u.pic"
  (deleteEvent)="parentAction($event)" (updateEvent)="updateUser($event)">
</app-user-details>
}
<router-outlet />